
$primary-color: #B70404;
$secondary-color: #DB005B;
$tertiary-color: #F79327;
$quad-color: #FFE569;
$sombra-ppal: #c9c9c9;
$sombra-sec: #ffffff;
$borde-primary-color: #00000050;
$marcado: rgb(127, 195, 255);
$tipo-principal: Helvetica, Arial, sans-serif;
$height-home:7.2rem;
@media (prefers-color-scheme: dark) {
  $primary-color: #ececec;
  $secondary-color: #303030;
  $sombra-ppal: #242424; 
  $sombra-sec: #3c3c3c;
  $borde-primary-color: #FFFFFF50;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
max-width: 100%;
width: 100%;
display: block;
object-fit: cover;
object-position: center center;
}

a {
display: block;
}

p a {
display: inline;
}

li {
list-style-type: none;
}

html {
scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
font-size: 1em;
font-weight: inherit;
font-style: inherit;
text-decoration: none;
color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
content: "";
content: none;
}

::selection {
background-color: var(--negro);
color: var(--blanco);
}

form,
input,
textarea,
select,
button,
label {
font-family: inherit;
font-size: inherit;
hyphens: auto;
background-color: transparent;
display: block;
color: inherit;
appearance: none;
}

table,
tr,
td {
border-collapse: collapse;
border-spacing: 0;
}

svg {
width: 100%;
display: block;
fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  background-color: var(--blanco);
  color: var(--negro);
  line-height: 1.4em;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
}
